body {
	padding: 0;
	margin: 0;
}

#navigation {
position: fixed;
top: 0;
width: 100%;
color: #594D56;
height: 100px;
text-align: center;
padding-top: 50px;
/* Adds shadow to the bottom of the bar */
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
/* Adds the transparent background */
background-color: rgba(1, 1, 1, 0.8);
color: rgba(1, 1, 1, 0.8);

}

#navigation a {
font-size: 50px;
font-family: cool_font;
padding-top: 50px;
padding-left: 30px;
padding-right: 30px;
color: white;
text-decoration: none;
}

#navigation a:hover {
color: #F233C2;
}



#banner img {
	width:100%;
	/*top: 100px;*/
} 

#about {
	/*top: 100px;*/
	color: #313332;
	height: 100px;
	width: 100%;
	background-color: rgba(1, 1, 1, 0.8);
	color: rgba(1, 1, 1, 0.8);
}

#about p{
	font-family: cool_font;
	color: white;
	font-size: 50px;
	padding-left: 30px;
}


@font-face {
	font-family: cool_font;
	src: url('Dense-Regular.otf');
}